backend/logs 
backend/project/project
backend/project/target
backend/target
backend/tmp
backend/dist
backend/.bsp
backend/.cache
backend/RUNNING_PID
backend/.bloop/
backend/.metals/
# Logs
frontend/logs
frontend/.env
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local
frontend/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
