@import "tailwindcss";

.fondamento-regular {
	font-family: "Fondamento", cursive;
	font-weight: 400;
	font-style: normal;
}

.fondamento-regular-italic {
	font-family: "Fondamento", cursive;
	font-weight: 400;
	font-style: italic;
}

/* <weight>: Use a value from 400 to 800 */
/* <uniquifier>: Use a unique and descriptive class name */

:root {
	--background: #D7DAE5;
	--text-colour: #1c1103;
	--accent-bg: #B9CDDA;
	--alt-accent: #352208;
	--alt-accent-secondary: #7B6B43;
	--alt-accent-outline: #685634;
	--fancy-font: "Fondamento";
	--normal-font: "EB Garamond";
}

body {
	background-color: var(--background);
	color: var(--text-colour);
	font-family: var(--normal-font), cursive;
	font-weight: 600;
}

h1 {
	font-family: var(--fancy-font);
	font-size: 1.75em;
}
